/* .video-component{
    display:flex;
    flex-wrap: wrap;
} */

.video-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.video-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  justify-content: center;
  align-items: stretch;
}

.video-list a {
  text-decoration: none;
}

.video-card {
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.video-card:hover {
  transform: scale(1.05);
}
