/* Header CSS*/
.header-container {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.youtube-container {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}

.youtube-logo {
  height: 3rem;
  margin-right: 0.5rem;
}

.user-icon {
  height: 3rem;
}

.voice-icon {
  height: 2rem;
}

.search-icon {
  height: 2rem;
}

.moon-icon.sun-icon {
  height: 1.75rem;
}

.notification-icon {
  height: 3rem;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  border: 1px solid #ced4da;
  padding: 0.5rem;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.search-button {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  background-color: #f7fafc;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.create-button {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  background-color: #f7fafc;
  border-radius: 1000px;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.dark-mode-toggle button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}

.dark-mode-toggle button:hover {
  transform: scale(1.1);
}

.theme-icon {
  width: 24px;
  height: 24px;
}
