.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7fafc;
}

body.dark-mode .header-container {
  background-color: #181818;
}

.hamburger-menu {
  cursor: pointer;
}

.youtube-logo {
  margin-right: 0.5rem;
}

.user-icon,
.voice-icon,
.search-icon,
.notification-icon {
  cursor: pointer;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  border: 1px solid #ced4da;
  padding: 0.5rem;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.search-button {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  background-color: #f7fafc;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

/* Create Button */
.create-button {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  background-color: #f7fafc;
  border-radius: 1000px;
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.dark-mode-toggle button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  transition: transform 0.2s ease-in-out;
}

.dark-mode-toggle button:hover {
  transform: scale(1.1);
}

/* Theme Icon */
.theme-icon {
  width: 36px;
  height: 36px;
}

/* User Button */
.user-button {
  border: none;
  cursor: pointer;
  padding: 0px;
  transition: transform 0.2s ease-in-out;
}

.user-button:hover {
  transform: scale(1.25);
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .youtube-container {
    margin-bottom: 0.5rem;
  }

  .search-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .dark-mode-toggle {
    margin-top: 0.5rem;
  }
}
