.sidebar {
  color: white;
}

.sidebar-menu {
  padding: 0;
  list-style-type: none;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  cursor: pointer;
  color: grey;
}

.sidebar-item:hover {
  background-color: #202020;
}

.icon {
  font-size: 20px;
}
