.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.dark-mode .content {
  background-color: #181818;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.left-section .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.dark-mode .left-section .logo {
  color: #ffffff;
}

.left-section .highlight {
  background: linear-gradient(to right, #6366f1, #ec4899);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.description {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}

.dark-mode .description {
  color: #bbbbbb;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #333;
}

.dark-mode .input-group {
  color: #ffffff;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}

.dark-mode .input-group input {
  background-color: #282828;
  border: 1px solid #555;
  color: white;
}

.submit-btn,
.google-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #6366f1, #ec4899);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.google-btn {
  background: #db4437;
  margin-top: 5px;
}

.submit-btn:hover,
.google-btn:hover {
  opacity: 0.8;
}

.dark-mode .submit-btn,
.dark-mode .google-btn {
  opacity: 0.9;
}

.dark-mode .submit-btn:hover,
.dark-mode .google-btn:hover {
  opacity: 0.7;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.dark-mode .signup-text {
  color: white;
}

.signup-link {
  color: #6366f1;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.signup-link:hover {
  text-decoration: underline;
}
