.video-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    align-items: center;
    /* background: #f9f9f9; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.video-container img {
    width: 100%;
    border-radius: 8px;
}

.video-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 5px; 
    width: max-content;
}

.title-card h6 {
    text-align: left; 
    width: 100%; 
    margin: 0;
    padding: 5px 0; 
}
