body {
  margin: 0;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
  padding-top: 60px;
}

body.dark-mode {
  background-color: #181818;
  color: #ffffff;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.w-full {
  width: 100%;
}
